<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Vaccine_Reminder_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddVaccine</display-name>
    <servlet-name>AddVaccine</servlet-name>
    <servlet-class>com.disha.services.AddVaccine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVaccine</servlet-name>
    <url-pattern>/AddVaccine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginHospital</display-name>
    <servlet-name>LoginHospital</servlet-name>
    <servlet-class>com.disha.services.LoginHospital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHospital</servlet-name>
    <url-pattern>/LoginHospital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.disha.services.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.disha.services.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVaccineLog</display-name>
    <servlet-name>AddVaccineLog</servlet-name>
    <servlet-class>com.disha.services.AddVaccineLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVaccineLog</servlet-name>
    <url-pattern>/AddVaccineLog</url-pattern>
  </servlet-mapping>
</web-app>